name: Python package
on: [pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-20.04','ubuntu-22.04']
        python-version: ["3.8", "3.9", "3.10"]
        exclude:
          - os: 'ubuntu-22.04'
            python-version: '3.6'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: VirtualEnv
        run: |
          python -m venv slam-env
          source slam-env/bin/activate
      - name: Linting
        run: |
            pip install flake8
            flake8 --ignore=E501,W503,W504 slam/
            flake8 --ignore=E501,W503,W504 tests/
      - name: Install all the dependencies
        run: |
             pip install .['full']
      - name: Run tests with pytest
        run: |
            pip install pytest pytest-cov coveralls
            pytest -W default --cov=slam/



